<% if defined?(user) and !user.blank? %>
<div style="float:left;width:40px;">
  <%= fb_profile_pic(user.fb_user(facebook_session), {:height => '35px', :facebook_logo => true})%>&nbsp;
</div>
<% end %>
<div style="float:left;vertial-align:top;">
<%= profile_action.description(@language) %>
<% if profile_action.search_topic %>
  <span class="headline"><%= link_to profile_action.entity_content,{:controller => 'rawstories', :action => 'search', :l => @l, :q => profile_action.entity_content}%></span>
<% else %>
  <%= render :partial => profile_action.entity, :locals => {:no_spacer => true}  %>
<% end %>
</div>
<div style="clear:both;"></div><br/>
