<div>
<% if defined?(user) and !user.blank? %>
<b><%= link_to user.fb_user.name, {:controller => 'users', :action => 'profile', :id => user.id} -%></b> 
<% end %>
<%= profile_action.description(@language) %>
<% if profile_action.search_topic %>
  <span class="headline"><%= link_to profile_action.entity_content,{:controller => 'rawstories', :action => 'search', :l => @l, :q => profile_action.entity_content}%></span>
<% else %>
  <%= render :partial => profile_action.entity, :locals => {:no_spacer => true}  %>
<% end %>
</div><br/>
