<div class = 'pagelabel'>

Request password and username

</div>
<div class = 'message'>
<%= 'Please enter your email address below.' %>

<% form_tag :action => 'send_password', :l => @l, :method => :get do -%>

<p>
    <%= text_field :email, params[:email], :id => 'email_field', :class =>"text" %><br>
</p>
<p>
	<%= submit_tag lost_button_label, :id => 'loginbutton', :class => 'button' %>
</p>
<% end -%>




</div>