<% unless user.facebook_user? %>
<div class="message">
  To be able to recommend articles and authors to your facebook friends, you need to connect your Jurnalo account with your facebook account.
</div>
<%= facebook_login_button -%>
<% end %>

<% if user.facebook_user? and !user.fb_offline_access_permission_granted %>
<div class="message">
  To be able to access your facebook friends who are also registered with Jurnalo, you need to grant Juranlo permission to access your facebook account offline.
</div>
<em><%= fb_prompt_permission('offline_access', "Click here to grant offline access permission.", "window.location='/users/link_user_accounts?l=#{@l}';") -%></em>
<% end %>
