<div>
<b><%= link_to recommendation.recommender.fb_user.first_name, {:controller => 'users', :action => 'profile', :id => recommendation.recommender.id} -%></b>
<% if recommendation.article? %>
 recommended this article to you <% if recommendation.active %><i>(new)</i><% end %>
<div style="margin-left:20px;">
<%= render :partial => recommendation.resource %>
</div>
<%elsif recommendation.author?%>
 recommended author <%= render :partial => recommendation.resource, :locals => {:no_spacer => true} %> to you <% if recommendation.active %><i>(new)</i><% end %>
<% end -%>
</div><br/>
