<ul class="module">
  <div class="pagelabel">
    <%= render :partial => '/notifications/notifications_header' %>
  </div>
  <%= render :partial => @recommendations %>
  <% Recommendation.mark_as_inactive(@recommendations)%>
</ul>
