@charset "UTF-8";

a img {
    border: 0px;
}

#google_ad_bottom_left {

	margin-top: 50px;
	margin-bottom: 30px;
	
}

.current {
	color: #FFFFFF;
	background-color: #0000C8;
	padding: 6px;
}

#loginbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	background-color: #0000C8;
	vertical-align: middle;
	padding: 8px;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	background-color: #0000C8;
	vertical-align: middle;
	padding: 8px;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 38px;
	margin-left: 20px;
	color: #999999;
	margin-bottom: 20px;
	margin-top: 54px;
}

#feedbackfield {
	border: 1px solid #0000C8;
	width: 600px;
	height: 400px;

}


.about {
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
line-height: 34px;
color: #333333;

}

.pagelabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #999999;
	margin-bottom: 54px;
	text-transform: uppercase;
}
.pagelabel a:link {
	color: #333333;
	text-decoration: none;
}
.pagelabel a:visited {
	color: #333333;
	text-decoration: none;
}
.pagelabel a:hover {
	color: #0000CC;
	text-decoration: none;
}
.pagelabel a:active {
	color: #0000CC;
	text-decoration: none;
}

.navigation a:hover{
	color: #FFFFFF;
	background-color: #0000C8;
	padding: 3px;
	margin: -3px;
	white-space: nowrap;
}


#beginning of christians styleshheet {}

.headline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	font-style: normal;
	line-height: 54px;
	font-weight: normal;
	color: #333333;
}

li {
	list-style-type: none;
	margin-bottom: 34px;
}

.logo {
	margin-left: 20px;

	margin-top: 20px;

}
.header {
	width: 100%;
	height: 200px;
	padding-top: 14px;
}
.profile {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 34px;
	color: #999999;
	display: inline;
	white-space: nowrap;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-top: 14px;
}
.default {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 34px;
	color: #333333;
}
.search {
	display: block;
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	height: 188px;
	padding-top: 12px;
}
.selected {
	color: #FFFFFF;
	background-color: #0000C8;
	padding: 6px;
}
.textfield {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	line-height: 42px;
	color: #333333;
	width: 450px;
	align: left;
	border: 1px solid #0000C8;
	padding: 8px;
	margin-top: 14px;
	vertical-align: middle;
}
#searchfield {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	line-height: 54px;
	color: #333333;
	width: 580px;
	align: left;
	border: 1px solid #0000C8;
	padding: 8px;
	vertical-align: middle;
	margin-bottom: 12px;
}
#searchbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	background-color: #0000C8;
	vertical-align: middle;
	padding: 12px;
	margin-bottom: 12px;
	height: 74px;
	width: 150px;
}
#searchform .header .search #submit {
	background-position: center;
}
.headlines {
	margin-left: 20px;
}
ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 28px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
.pagination {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #999999;
	margin-bottom: 4px;
	margin-top: 54px;
	text-transform: uppercase;
}

.message {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #0000CC;
	margin-bottom: 54px;
}
.datestamp {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	line-height: 54px;
	color: #999999;
}
.datestamp .source {
}

a:link {
	color: #333333;
	text-decoration: none;
	border: none;
	background-image: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
	border: none;
	background-image: none;
}
a:hover {
	text-decoration: none;
	color: #0000C8;
}
a:active {
	text-decoration: none;
	color: #0000C8;
}
body {
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 800px;
}
.datestamp a:link {
	color: #999999;
}
.datestamp a:hover {
	color: #0000C8;
}
.datestamp a:active {
	color: #0000C8;
}
.author {
	color: #666666;
}
.author a:link {
	color: #999999;
}
.author a:visited {
	color: #333333;
}
.author a:hover {
	color: #0000C8;
}
.author a:active {
	color: #0000C8;
}
.cluster {
	color: #999999;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 44px;
	line-height: 54px;
}
.cluster a:link {
	color: #333333;
	text-decoration: none;
}
.cluster a:visited {
	text-decoration: none;
	color: #333333;
}
.cluster a:active {
	text-decoration: none;
	color: #0000C8;
}
.cluster a:hover {
	text-decoration: none;
	color: #0000C8;
}

