


body {
float: center;	
  margin: 0px 350px;
  	
}



#login_logout {
  float: right;
  color: #999;
  font-size: normal;
}


#footer {
  float: center;
  font-size: small;
}

#pagination {

  font-size: large;
}

#filter {
float: right;
color: #999;
  font-size: normal;
}

