


body {
float: center;	
  margin: 0px 200px;
font-family: Arial;
  	
}



#login_logout {
  float: right;
  color: #999;
  font-size: normal;
}

#group_navigation {
  color: #999;
  font-size: normal;
}




#main_headline {
  font-size: large;
}

#pagination {

  font-size: large;
}

#filter {
float: right;
color: #999;
  font-size: normal;
}

#heading {
 font-size: large;
}
