<div class="pagelabel">
  <%= author_ranking_label  %>
</div>

<span class = 'headlines'>
<%@authors.each_with_index do |a, i| %>
<%= render :partial => a, :locals => {:rank => i+1} %>
<% end %>
</span>
