<div class="pagelabel">
  <%= opinions_label -%> ( <%= link_to articles_list_label, {:controller => 'groups', :action => 'opinions', :l => @l} -%>  - <%= author_ranking_label -%> )
</div>

<%@authors.each_with_index do |a, i| %>
<%= render :partial => a, :locals => {:rank => i+1} %>
<% end %>
