<% cache ({:page => params[:page] || 1}) do %>
<br>

Artikel von <b><%= @author.name %></b>

<p>
  <%= render :partial => @rawstories_published %>
</p>
<%= will_paginate(@rawstories_published) %>

<% end %>