<ul>
  <li>        
    <div class="newTopicBox">
      <div style="color: #333333;" class="pagelabel">NEW TOPIC</div>
      <div style="float: left; height: 30px;" class="headline">
        <input type="text" value="my topic" style="border: 2px solid rgb(255, 255, 255); background-color: rgb(153, 204, 255); font-size: 19px; color: rgb(255, 255, 255); width: 171px; height: 30px;" onClick="if (this.value == 'my topic'){this.value='';}"/> 
      </div>
      <div style="float: left; margin-left: 5px; height: 36px;" class="headline">
        <input type="submit" value="Add" style="border: 0px solid rgb(0, 0, 200); width: 100px; background-color: rgb(0, 0, 200); font-size: 19px; color: rgb(255, 255, 255); height: 35px;"/> 
      </div>
      <div style="clear: both;"></div>
    </div>
  </li>
</ul>
