<ul>
  <li>        
    <div class="newTopicBox">
      <div style="color: #333333;" class="pagelabel">NEW TOPIC</div>
      <div style="float: left; height: 30px;">
        <input type="text" value="my topic" id="new_topic_field" onClick="if (this.value == 'my topic'){this.value='';}"/> 
      </div>
      <div style="float: left; margin-left: 5px; height: 36px;">
        <input type="button" value= "<%= add_button_label %>" id="new_topic_button" /> 
      </div>
      <div style="clear: both;"></div>
    </div>
  </li>
</ul>
