

<% cache ({:page => params[:page] || 1}) do %>


<ul>



<%= render :partial => @haufens %>

</ul>

<div class= "pagination" > 
<%= will_paginate(@haufens, options = {:prev_label => 'zurück &nbsp - &nbsp ', :next_label => ' &nbsp - &nbsp vorwärts'}) %>
</div>

<%end%>

