<li>
  <div class="message"><%= request_password_message %></div>
</li>
<div class="message">
<%form_tag forgot_password_url(:l => @l) do -%>
  <p><label><%= request_password_field_label %></label><br/>
    <input type="text" name="login_or_email_address" class="textfield"/>
  </p>
  <p><input type="submit" value= "<%= forgot_password_button %>" class="button"></p>
<% end -%>
<br>
<b>
<%= link_to new_signup_label, :controller => 'users', :action => 'new', :l => @l %></b>
	<br>
</div>



