<li>
  <div class="message">Please enter your login/email address  below, we will send you a new password for your account.</div>
</li>
<div class="message">
<%form_tag forgot_password_url do -%>
  <p><label>Login/Email address:</label><br/>
    <input type="text" name="login_or_email_address" class="textfield"/>
  </p>
  <p><input type="submit" value="Submit" class="button"></p>
<% end -%>
</div>


