<% if @ask_offline_access %>
<div class="message">
Step 1 : Registration <br/>
You need to grant Jurnalo the permission to access your facebook account offline. (This is standard for any Facebook application.)
</div>
<div>
<b><%= fb_prompt_permission('offline_access', "Click here to grant offline access permission.", "window.location='/users/link_user_accounts?l=#{@l}';") -%></b>
</div>
<div class="message">
* If you can not see a link above this line or if the link disappears, please set your browser to accept third-party cookies and refresh the page.
</div>
<% end %>
<% if @ask_email_permission %>
<div class="message">Step 2 : Registration <br/>
You need to grant Jurnalo the permission to send emails to your facebook account.
</div>
<div>
<b><%= fb_prompt_permission('email', "Click here to grant permission.", "window.location='/users/link_user_accounts?l=#{@l}';") -%></b>
</div>
<div class="message">
* If you can not see a link above this line or if the link disappears, please set your browser to accept third-party cookies and refresh the page.
</div>
<% end%>
