<div class="message">
To complete the registration, you need to grant permission to Jurnalo to access your facebook account offline.
</div>
<b><%= fb_prompt_permission('offline_access', "Click here to grant offline access permission.", "window.location='/users/link_user_accounts?l=#{@l}';") -%></b>
