<div class="message">
To complete the registration you need to allow Jurnalo offline access.
</div>
<em><%= fb_prompt_permission('offline_access', "Click here to grant offline access permission.", "window.location='/users/link_user_accounts?l=#{@l}';") -%></em>
