<div class = 'pagelabel'>

Credits

</div>

<div class = 'about'>

Thanks to the following people on whose works this application is based: <br><br>

<b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br>
<b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br>
<b> Andrew Aksyonoff </b> (Sphinx search technology)<br>
 <br><br>
</div>

