<div class = 'pagelabel'>

Nine facts About jurnalo

</div>

<div class = 'about'>
	
	1.	You can browse the news.<br><br>

	2.	You can search the news.<br><br>

	3.	You can subscribe to your favourite authors.<br><br>

	4.	You can create your own topics.<br><br>

	5.	You can save interesting articles into your reading list.<br><br>
	
	6. 	Our rankings of articles are based on relevance, quality and time. <br><br>
	
	7. 	Jurnalo groups and ranks articles fully automatically.<br><br>
	
	8. 	Only the selection and initial weighting of sources is done by Jurnalo's editors. <br><br>

	9. 	Jurnalo crawls all quality journalism. <br><br>
	
	

<br>
</div>
<div class = 'pagelabel'>

Credits

</div>

<div class = 'about'>

Special thanks go out to the following people without whose open-source contributions this application would not have been possible: <br><br>

<b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br>
<b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br>
<b> Andrew Aksyonoff </b> (Sphinx search technology)<br>
 <br><br>
</div>

<div class = 'pagelabel'>

Contact

</div>
<div class = 'about'>
Jurnalo UG (haftungsbeschränkt) <br>
Tessdorffstr.51 <br>
23611 Bad Schwartau <br>
Germany <br>
Telephone: +49 170 4713446 <br>
<br>
E-Mail: jurnalo.user.service [at] googlemail [dot] com <br>
<br>
Managing director: Justus Ohlhaver (same address as above)<br>
Justus Ohlhaver (same address as above) is responsible for the content in accordance with § 55 - 2 RStV. <br>
<br>

Registry: Amtsgericht Lübeck, HRB 9110 HL<br>
<br>
Disclaimer: <br> We are not responsible for the content of any external links.<br> The responsiblity for any of the content of any of the pages we are linking to belongs exclusively to the owners of the pages we are linking to. 
</div>