<div class = 'pagelabel'>

Credits

</div>

<div class = 'about'>

Thanks to the following people on whose works this application is based: <br><br>

<b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br>
<b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br>
<b> Andrew Aksyonoff </b> (Sphinx search technology)<br>
 <br><br>
</div>

<div class = 'pagelabel'>

Contact

</div>
<div class = 'about'>
Justus Ohlhaver <br>
Chausseestr.16 <br>
10115 Berlin <br>
Germany <br>
Telefon: +49 170 4713446 <br>
<br>
E-Mail: jurnalo.user.service [at] googlemail [dot] com <br>
<br>
Justus Ohlhaver (same address as above) is responsible for the content in accordance with ยง 55 - 2 RStV. <br>
<br>
Disclaimer: <br> We are not responsible for the content of any external links.<br> The responsiblity for any of the content of any of the pages we are linking to belongs exclusively to the owners of the pages we are linking to. 
</div>