<div class = 'pagelabel'>

Impressum

</div>
<div class = 'about'>
Justus Ohlhaver <br>
Tessdorffstr.51 <br>
23611 Bad Schwartau <br>
Telefon: +49 170 4713446 <br>
<br>
E-Mail: jurnalo.user.service [at] googlemail [dot] com <br>
<br>
Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Justus Ohlhaver (Anschrift wie oben) <br>
<br>
Haftungshinweis: <br> Wir übernehmen keine Haftung für die Inhalte externer Links.<br> Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</div>