<div class = 'pagelabel'>

Neun Fakten zu jurnalo

</div>

<div class = 'about'>
	
	1.	Sie können in den Nachrichten blättern.<br><br>

	2.	Sie können Nachrichten suchen.<br><br>

	3.	Sie können Ihre Lieblingsautoren abonnieren.<br><br>

	4.	Sie können Ihre eigenen Themen erschaffen.<br><br>

	5.	Sie können interessante Artikel zu Ihrer Leseliste speichern.<br><br>
	
	6. 	Jurnalo funktioniert vollkommen automatisch.<br><br>

	7. 	Wir crawlen allen unabhängigen professionellen Journalismus. <br><br>
	
	8. 	Unsere Sortierung fußt auf der Relevanz von Artikeln und auf den Vorlieben der Leser. <br><br>
	
	9. 	Jurnalo bevorzugt Qualitäts-Journalismus. <br><br>
	

<br>
</div>

<div class = 'pagelabel'>

Credits

</div>

<div class = 'about'>
Dank gilt insbesondere den folgenden Personen, ohne deren open-source Beiträge diese Seite nicht möglich wäre: <br><br>

<b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br>
<b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br>
<b> Andrew Aksyonoff </b> (Sphinx Suchtechnologie)<br>
 <br><br>
</div>

<div class = 'pagelabel'>

Impressum

</div>
<div class = 'about'>	
Jurnalo UG (haftungsbeschränkt) <br>
Tessdorffstr.51 <br>
23611 Bad Schwartau <br>
Telefon: +49 170 4713446 <br>
<br>
E-Mail: jurnalo.user.service [at] googlemail [dot] com <br>
<br>
Vertretungsberechtigt: Justus Ohlhaver (Anschrift wie oben) <br>
Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Justus Ohlhaver (Anschrift wie oben) <br>
<br>
Handelsregister: Amtsgericht Lübeck, HRB 9110 HL<br>
<br>
Haftungshinweis: <br> Wir übernehmen keine Haftung für die Inhalte externer Links.<br> Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</div>