<div class = 'pagelabel'>

Impressum

</div>
<div class = 'about'>
Justus Ohlhaver <br>
Tessdorffstr.51 <br>
23611 Bad Schwartau <br>
Telefon: +49 170 4713446 <br>
<br>
E-Mail: jurnalo.user.service [at] googlemail [dot] com <br>
<br>
Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Justus Ohlhaver (Anschrift wie oben) <br>
<br>
Haftungshinweis: <br><b> Wir übernehmen keine Haftung für die Inhalte der abgebildeten Überschriften von externen Links oder für die Inhalte externer Links.<br> Für die Inhalte der abgebildeten Überschriften von externen Links und für die Inhalte der verlinkten Seiten <br> sind ausschließlich die Betreiber der verlinkten Seiten verantwortlich.</b>
</div>