<div class = 'pagelabel'>

Credits

</div>

<div class = 'about'>
Dank gilt den folgenden Personen, auf deren Werken diese Seite basiert: <br><br>

<b><%= link_to 'Yukihiro Matsumoto', 'http://en.wikipedia.org/wiki/Yukihiro_Matsumoto' %> </b> (Ruby)<br>
<b><%= link_to 'David Heinemeier Hansson', 'http://en.wikipedia.org/wiki/David_Heinemeier_Hansson'%></b> (Rails) <br>
<b>Die Ruby on Rails community</b> (Ruby on Rails, Gems, Plug-ins und eine Menge Hilfe) <br>
<b> Andrew Aksyonoff </b> (Sphinx Suchtechnologie)<br>
<b><%= link_to 'Katherine Graham', 'http://en.wikipedia.org/wiki/Katharine_Graham' %></b> (Anregung zu den Prinzipien einer guten Zeitung)

<br> <br><br>
</div>

<div class = 'pagelabel'>

Impressum

</div>
<div class = 'about'>
Justus Ohlhaver <br>
Tessdorffstr.51 <br>
23611 Bad Schwartau <br>
Telefon: +49 170 4713446 <br>
<br>
E-Mail: jurnalo.user.service [at] googlemail [dot] com <br>
<br>
Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Justus Ohlhaver (Anschrift wie oben) <br>
<br>
Haftungshinweis: <br> Wir übernehmen keine Haftung für die Inhalte externer Links.<br> Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</div>