<div class = 'pagelabel'>

Privacy policy

</div>
<div class = 'about'>
* Jurnalo collects personal information when you register or when you provide such information voluntarily.<br><br>
* We use cookies and other technologies to find out how you use Jurnalo.<br><br>
* Jurnalo accesses information automatically when you visit our site. This information includes URL, IP-address, browser-type, language as well as date and time of your visit.<br><br>
* We don't pass on personal information to any third party without your explicit approval.<br><br>
* Only summarized de-personalized information is provided to third parties.<br><br>
* Personal information is used for providing services requested by the user including services with personalized content. <br><br>
* Additionally, we use your personal information for internal research in order to improve your online experience as well as our technologies and services. <br><br>


 


</div>