<div class = 'pagelabel'>

Datenschutz

</div>
<div class = 'about'>
* Jurnalo sammelt persönliche Informationen, wenn Sie sich registrieren oder anderweitig <br> derartige Informationen freiwillig bereitstellen. <br><br>
* Wir verwenden Cookies und andere Technologien, um zu erfahren, wie Sie Jurnalo nutzen. <br><br>
* Jurnalo erfasst Informationen automatisch, wenn Sie unsere Website aufrufen. Diese Informationen<br> umfassen unter anderem URL, IP-Adresse, Browserart, Sprache sowie das Datum und die Uhrzeit Ihrer Anfrage.
    <br><br>
* Wir geben keine persönlichen Informationen an Dritte weiter.<br><br>
* Nur zusammengefasste entpersonalisierte Informationen werden an Dritte weitergegeben.<br><br>
* Die persönlichen Informationen werden für die Bereitstellung von gewünschten Dienstleistungen,<br> einschließlich der Dienstleistungen mit angepassten Inhalten, verwendet.<br><br>
* Wir nutzen Ihre persönlichen Informationen ausserdem für interne Auswertungen, um Ihre Onlineerfahrung <br> sowie unsere Technologien und Dienstleistungen zu verbessern.<br><br>


 


</div>