<div class = 'pagelabel'>

Datenschutz

</div>
<div class = 'about'>

<b>Umfang:<br></b>
<br>
    Jurnalo sammelt persönliche Informationen, wenn Sie sich registrieren oder anderweitig <br> derartige Informationen freiwillig bereitstellen. <br><br>

    Jurnalo verwendet Cookies und andere Technologien, um zu erfahren, wie Sie Jurnalo nutzen. <br><br>

    Wir erfassen Informationen automatisch, wenn Sie unsere Website aufrufen. Diese Informationen<br> umfassen unter anderem URL, IP-Adresse, Browserart, Sprache sowie das Datum und die Uhrzeit Ihrer Anfrage.
    <br><br>

<b>Nutzung:<br><br></b>
<b>	Anders als die meisten Online-Unternehmen geben wir KEINE persönlichen Informationen an Dritte außerhalb von Jurnalo weiter.<br><br></b>
	Wir geben nur zusammengefasste entpersonalisierte Informationen an Drittanbieter außerhalb von Jurnalo weiter.<br><br>
    Wir verwenden persönliche Informationen für die Bereitstellung von gewünschten Leistungen,<br> einschließlich der Leistungen mit angepassten Inhalten.<br><br>
    Wir verwenden persönliche Informationen für Analysen und Untersuchungen, um unsere Technologien und -Leistungen und Ihre Onlineerfahrung zu verbessern.<br><br>
 


</div>